[build]
command = "npm run build"
# publish = "dist"
publish = "build/client"
[dev]
# command = "npm run dev"
command = "react-router dev"
port = 3000

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
